.App {
  text-align: center;
}

/*
Used by default with NavLink;
.active {
  color: lightyellow;
  text-decoration: none;
  font-weight: bold;
} */

.activeLink {
  color: lightyellow;
  text-decoration: none;
}
a {
  font-size: 35px;
  color: lightblue;
  cursor: pointer;
}

nav a {
  margin: 25px;
}

nav {
  background-color: darkslategray;
  padding: 15px;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
  cursor: pointer;
}
